<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head") %>

    <script>
        function confirmDelete() {

            let respusta = confirm('¿Desea eliminar el contacto?');

            if (respusta == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <body>

        <!--header-->
        <%- include ("./partials/header") %>

            <main class="main">

                
                <section class="section">

                    <div class="cabecera-noIndex">
                        <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
                        <h2 class="titulo-section">Detalle de Contacto</h2>
                    </div>
                    
                    <div class="contenedor-section">

                        <article class="contactoDetail">
                            <div>
                                <h4>Nombre:</h3>
                                    <p>
                                        <%= contacto.nombre %>
                                    </p>
                            </div>

                            <div>
                                <h4>Apellido:</h3>
                                    <p>
                                        <%= contacto.apellido %>
                                    </p>
                            </div>

                            <div>
                                <h4>Teléfono:</h3>
                                    <p>
                                        <%= contacto.telefono %>
                                    </p>
                            </div>

                            <div>
                                <h4>Dirección:</h3>
                                    <p>
                                        <%= contacto.direccion %>
                                    </p>
                            </div>

                            <div>
                                <h4>Fecha de Nacimiento:</h3>
                                    <p>
                                        <%= contacto.fechaNacimiento %>
                                    </p>
                            </div>

                            <div>
                                <h4>Email:</h3>
                                    <p>
                                        <%= contacto.email %>
                                    </p>
                            </div>

                        </article>

                        <div class="detail-botons">
                            <a href="/contactoEdit/<%= contacto.id %>"><button><i
                                        class="fa-solid fa-pen-to-square"></i></button></a>

                            <form action="/delete/<%= contacto.id %>?_method=DELETE" method="POST">
                                <button type="submit" onclick='return confirmDelete()'><i
                                        class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </section>

            </main>

            <!--footer-->
            <%- include ("./partials/footer") %>

    </body>

</html>