<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head") %>

    <script>
        function confirmDelete() {

            let respusta = confirm('¿Desea eliminar el contacto?');

            if (respusta == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <body>

        <!--header-->
        <%- include ("./partials/header") %>

            <main class="main">

                
                <section class="section">

                    <article class="cabecera-noIndex">

                        <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
                        <h2>Detalle de contacto</h2>
                       
                    </article>
                    
                    
                    <article class="listaContactos">

                        <div class="detalle">
                        
                            <li class="dato">Nombre: <%= contacto.nombre %></li>
                            <li class="dato">Apellido: <%= contacto.apellido %></li>
                            <li class="dato">Teléfono: <%= contacto.telefono %></li>
                            <li class="dato">Dirección: <%= contacto.direccion %></li>
                            <li class="dato">Fecha de Nacimiento: <%= contacto.fechaNacimiento %></li>
                            <li class="dato">Email: <%= contacto.email %></li>
                        </div>

                    </article>

                    <article class="botones-detalle">

                        <a href="/contactoEdit/<%= contacto.id %>">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <form action="/delete/<%= contacto.id %>?_method=DELETE" method="POST">
                            <button class="delete" type="submit" onclick='return confirmDelete()'>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                        
                    </article>

                    
                </section>

            </main>

            <!--footer-->
            <%- include ("./partials/footer") %>

    </body>

</html>