<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head")  %> 

<body>

    <!--header-->
    <%- include ("./partials/header")  %> 

    <main class="main">
        
       
        <section>

            <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
            
            <h2>Editar Contacto</h2>

            <form action="/contactoEdit/:<%= contacto.id %>?_method=PUT" method="POST">
                
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="<%= contacto.nombre %>">
        
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" value="<%= contacto.apellido %>">
        
                <label for="telefono">teléfono</label>
                <input type="text" name="telefono" id="telefono" value="<%= contacto.telefono %>">
        
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" id="direccion" value="<%= contacto.direccion %>">
        
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<%= contacto.email %>">
                
                <input type="submit" value="Editar">
            </form>
        </section>
        
    </main>

    <!--footer-->
    <%- include ("./partials/footer")  %> 

</body>
</html>