
<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head")  %> 

<body>

    <!--header-->
    <%- include ("./partials/header")  %> 

    <main class="main">

        <section class="section">
            
            <article class="cabecera-noIndex">

                <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
                <h2>Crear contacto</h2>
               
            </article>

            <article class="listaContactos">

                <form class="lista" action="/contactoCreate" method="POST">
                    
                    <div class="input">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : null %>" required>
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="invalido">
                                <%= errors.nombre.msg %>
                            </div>
                            <% } %>
                    </div>
                    
                    <div class="input">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" value="<%= locals.oldData ? oldData.apellido : null %>" required>
                        <% if (locals.errors && errors.apellido) { %>
                            <div class="invalido">
                                <%= errors.apellido.msg %>
                            </div>
                            <% } %>
                    </div>
                    
                    <div class="input">
                        <label for="telefono">teléfono</label>
                        <input type="text" name="telefono" id="telefono" value="<%= locals.oldData ? oldData.telefono : null %>" required>
                        <% if (locals.errors && errors.telefono) { %>
                            <div class="invalido">
                                <%= errors.telefono.msg %>
                            </div>
                        <% } %>
                    </div>
                    
                    <div class="input">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" id="direccion" value="<%= locals.oldData ? oldData.direccion : null %>" required>
                        <% if (locals.errors && errors.direccion) { %>
                            <div class="invalido">
                                <%= errors.direccion.msg %>
                            </div>
                        <% } %>
                    </div>
                    
                    <div class="input">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>" required>
                        <% if (locals.errors && errors.email) { %>
                            <div class="invalido">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                    
                    <div class="input">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" name="fechaNacimiento" id="fechaNacimiento"
                            value="<%= locals.oldData ? oldData.fechaNacimiento : null %>"required>
                        <% if (locals.errors && errors.fechaNacimiento) { %>
                            <div class="invalido">
                                <%= errors.fechaNacimiento.msg %>
                            </div>
                        <% } %>
                    </div>
                    
                    <button type="submit">Crear</button>    
                
                </form>



            </article>

                
           
        </section>
        
    </main>

    <!--footer-->
    <%- include ("./partials/footer")  %> 

</body>
</html>
