
<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head")  %> 

<body>

    <!--header-->
    <%- include ("./partials/header")  %> 

    <main class="main">

        <section class="section">
            
            <div class="cabecera-noIndex">
                <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
                <h2 class="titulo-section">Crear Contacto</h2>
            </div>       
            
            <div class="contenedor-section">
            

                <form action="/contactoCreate" method="POST">
                
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="invalido2">
                            <%= errors.nombre.msg %>
                        </div>
                        <% } %>
                
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="invalido2">
                            <%= errors.apellido.msg %>
                        </div>
                        <% } %>
                
                    <label for="telefono">teléfono</label>
                    <input type="text" name="telefono" id="telefono" value="<%= locals.oldData ? oldData.telefono : null %>">
                    <% if (locals.errors && errors.telefono) { %>
                        <div class="invalido2">
                            <%= errors.telefono.msg %>
                        </div>
                        <% } %>
                
                    <label for="direccion">Dirección</label>
                    <input type="text" name="direccion" id="direccion" value="<%= locals.oldData ? oldData.direccion : null %>">
                    <% if (locals.errors && errors.direccion) { %>
                        <div class="invalido2">
                            <%= errors.direccion.msg %>
                        </div>
                        <% } %>
                
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="invalido2">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" name="fechaNacimiento" id="fechaNacimiento"
                        value="<%= locals.oldData ? oldData.fechaNacimiento : null %>">
                    <% if (locals.errors && errors.fechaNacimiento) { %>
                        <div class="invalido2">
                            <%= errors.fechaNacimiento.msg %>
                        </div>
                        <% } %>
                    
                            <input class="submit" type="submit" value="Crear">
                
                </form>
            </div>
        </section>
        
    </main>

    <!--footer-->
    <%- include ("./partials/footer")  %> 

</body>
</html>
