<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head") %>

    <body>

        <!--header-->
        <%- include ("./partials/header") %>

            <main class="main">

                <section class="section">

                    <article class="cabecera-noIndex">

                        <a href="/contacto/<%= contacto.id %>"><i class="fa-solid fa-chevron-left"></i></a>
                        <h2>Editar contacto</h2>
                       
                    </article>

                    <article class="listaContactos">

                        <form class="lista" action="/contactoEdit/<%= contacto.id %>?_method=PUT" method="POST">

                            <div class="input">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" value="<%= contacto.nombre %>">
                            </div>
                            
                            <div class="input">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido" value="<%= contacto.apellido %>">
                            </div>
                            
                            <div class="input">
                                <label for="telefono">teléfono</label>
                                <input type="text" name="telefono" id="telefono" value="<%= contacto.telefono %>">
                            </div>
                            
                            <div class="input">
                                <label for="direccion">Dirección</label>
                                <input type="text" name="direccion" id="direccion" value="<%= contacto.direccion %>">
                            </div>
                            
                            <div class="input">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" name="fechaNacimiento" id="fechaNacimiento" value="<%= contacto.fechaNacimiento %>">
                            </div>
                            
                            <div class="input">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" value="<%= contacto.email %>">
                            </div>

                            
                            <button type="submit">Editar</button>
                        </form>

                    </article>


                   
                        
                    
                </section>

            </main>

            <!--footer-->
            <%- include ("./partials/footer") %>

    </body>

</html>