<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head") %>

    <body>

        <!--header-->
        <%- include ("./partials/header") %>

            <main class="main">
                
                <section class="section">
                                
                    <div class="contenedor-section">
                
                        <div class="cabecera">

                            <div class="botones-cabecera">
                                <a href="/contactoCreate"><i class="fa-solid fa-user-plus"></i></a>
                                <i  onclick="mostrarBusqueda()" class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            
                            <div id="busqueda" class="busqueda">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" name="buscador" id="buscador" placeholder="Buscar..." autofocus>
                                <i onclick="ocultarBusqueda()" class="fa-solid fa-x"></i>
                            </div>
                
                        </div>
                
                
                        <ul class="listaAgenda">
                
                            <% agenda.forEach(element=> { %>
                
                                <li class="item"></i><a href="/contacto/<%= element.id %>">
                                        <%= element.nombre %>
                                            <%= element.apellido %>
                                    </a></li>
                
                                <% }) %>
                
                        </ul>
                    </div>
                </section>

            </main>

            <!--footer-->
            <%- include ("./partials/footer") %>
            <script src="/js/buscar.js"></script>
    </body>

</html>